*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.search-container {
    /* border: 1px solid black; */
    margin: 20px 20px 0 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

h1{
    font-size: 3em;
    margin: 0;
}

input{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 5px black;
    background-color: rgba(172, 169, 169, 0.118);
}


table {
    margin: 0 auto;
    /* overflow: scroll;
    width: 50%;
    margin-top: 20px; */
    width: 100%;
    border-collapse: collapse; 
    /* border: 1px solid black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tableContainer th, #tableContainer td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  #tableContainer thead th {
    position: sticky;
    top: 0;              /* se pega arriba */
    /*background: #f9f9f9; /* color de fondo para que no se mezcle con las filas */
    z-index: 2;          /* asegura que quede encima */
  }

#table-wrapper {
    position: relative;
    height: 700px;
}

#table-scroll {
    width: 100%;
    height: inherit;
    overflow-y: auto;
    margin-top: 20px;
}

#results{
    margin-top: 20px;
}

th{
    position: sticky;
    top: 0;
    background-color: #2c9fac;
    color: #212121;
    text-align: left;
    
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* espacio para la flecha */
    
}

  th.asc::after {
    content: "▲"; /* flecha hacia arriba */
    position: absolute;
    right: 5px;
    color: #333;
    font-size: 0.8em;
  }

  th.desc::after {
    content: "▼"; /* flecha hacia abajo */
    position: absolute;
    right: 5px;
    color: #333;
    font-size: 0.8em;
  }


.text{
    font-weight: bold;
}

th, td{
    padding: 6px 8px;
    font-weight: normal;
}
tr:nth-of-type(even){
    background-color: #f3f3f3;

}

td{
    max-width: 100px;
}

h3{
    text-align: center;
}


